<!DOCTYPE html>
<html>
<head>
    <title>Namaste! 😊</title>
</head>
<body>
    <h2 align="center">Namaste! 😊 Ready to roll out your mat and flow? Before we begin, what kind of yoga are you feeling today?</h2>

    <form action="/generate" method="POST">
        <table align="center" cellpadding="10">
            <tr>
                <td>Please choose one:</td>
                <td>
                    <label>
                        <input type="radio" name="YogaType" value="Vinyasa Yoga" required> 
                        <strong>Vinyasa Yoga: </strong> Dynamic and fluid, connecting breath with movement.
                    </label><br>

                    <label>
                        <input type="radio" name="YogaType" value="Yin Yoga"> 
                        <strong>Yin Yoga: </strong> Slower-paced with long-held poses, targeting deep connective tissue.
                    </label><br>

                    <label>
                        <input type="radio" name="YogaType" value="Power Yoga"> 
                        <strong>Power Yoga: </strong> Vigorous and strength-building, for experienced yogis.
                    </label>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset" onclick="location.href='/';">
                </td>
            </tr>
        </table>
    </form>

    {% autoescape false %}<h3 align="center"> {{yoga_flow}} </h3>{% endautoescape %}
</body>
</html>